{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-12">
                <h2>Blank</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

