{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid" id="sandbox-container">
        <div class="row page-header">
            <div class="col-lg-4">
                <h3>Записи разговоров</h3>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-3 col-lg-offset-1">
                <div class="input-group date" id="calls-dtp">
                    <input type="text" class="form-control"/>
                    <span class="input-group-addon"><span class="fa fa-calendar-o fa-fw"></span></span>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-3 col-lg-offset-1 hidden-md hidden-sm hidden-xs">
                <h2>Статистика</h2>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                {#<div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-calendar-o fa-fw fa-lg fa-calls-table"></i>&nbsp;&nbsp;<span id="current-date"></span>
                    </div>
                    <div class="panel-body">#}
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified responsive" id="call-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-incoming" class="deco-none">
                                    <i class="fa fa-arrow-circle-down fa-lg fa-fw"></i>Входящие&nbsp;<span class="badge dt-incoming-counter"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-outgoing" class="deco-none">
                                    <i class="fa fa-arrow-circle-up fa-lg fa-fw"></i>Исходящие&nbsp;<span class="badge dt-outgoing-counter"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-unanswered" class="deco-none">
                                    <i class="fa fa-times-circle fa-lg fa-fw"></i>Без ответа&nbsp;<span class="badge dt-unanswered-counter"></span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content responsive">
                            <div id="tab-incoming" class="tab-pane fade in active">
                                <div class="dt-calls-content">
                                    <table  cellspacing="0" width="100%" class="table table-striped table-hover responsive" id="dt-incoming"></table>
                                </div>
                            </div>
                            <div id="tab-outgoing" class="tab-pane fade">
                                <div class="dt-calls-content">
                                    <table  cellspacing="0" width="100%" class="table table-striped table-hover responsive" id="dt-outgoing"></table>
                                </div>
                            </div>
                            <div id="tab-unanswered" class="tab-pane fade">
                                <div class="dt-calls-content">
                                    <table  cellspacing="0" width="100%" class="table table-striped table-hover responsive" id="dt-unanswered"></table>
                                </div>
                            </div>
                        </div>
                    {#</div>
                </div>#}
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw fa-lg"></i>&nbsp;&nbsp;Каналы - 60 мин
                    </div>
                    {% if acl in g.user.perms %}
                    <div class="panel-body">
                        <img src="/render?from=-1hours&until=now&target=stats.gauges.channels.count&colorList=purple,DECAFF&height=160&width=420&hideLegend=true&tz=Europe/Moscow"
                             class="img-statsd-asterisk"/>
                        {#
                        <div class="bar-chart-calls" id="bar-chart-957"></div>
                        #}
                    </div>
                    {% endif %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw fa-lg"></i>&nbsp;&nbsp;Очередь CallCenter - 60 мин
                    </div>
                    {% if acl in g.user.perms %}
                    <div class="panel-body">
                        <img src="/render?from=-1hours&until=now&target=stats.queue.spb-callcenter.callstaken&colorList=yellow,orange,red,purple,DECAFF&height=160&width=420&hideLegend=true&tz=Europe/Moscow"
                             class="img-statsd-asterisk"/>
                    </div>
                    {% endif %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw fa-lg"></i>&nbsp;&nbsp;Очередь React - 60 мин
                    </div>
                    {% if acl in g.user.perms %}
                    <div class="panel-body">
                        <img src="/render?from=-1hours&until=now&target=stats.queue.spb-react.callstaken&colorList=green,yellow,orange,red,purple,DECAFF&height=160&width=420&hideLegend=true&tz=Europe/Moscow"
                             class="img-statsd-asterisk"/>
                    </div>
                    {% endif %}
                </div>

            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/calls.js') }}"></script>
{% endblock %}