{% extends "base.html" %} {% block body %}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-12">
                <h1>Error</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}

