{% block footer %}
<div class="navbar navbar-default navbar-fixed-bottom" id="page-footer">
    <div class="container">
        <p class="navbar-text pull-left">
            <i class="fa fa-copyright fa-lg fa-fw" aria-hidden="true"></i>&nbsp;AN-Security,&nbsp;2017
            {#<a href="http://stolyarch.uk" target="_blank"><i class="fa fa-telegram fa-lg fa-fw" aria-hidden="true"></i> stolyarch.uk</a>, 2017#}
        </p>
        <a href="#" class="navbar-btn btn-danger btn pull-right" id="btn-mail-issue">
            <i class="fa fa-bug fa-lg fa-fw"></i>&nbsp;&nbsp;Сообщить об ошибке</a>
    </div>
</div>
{% endblock %}