{% extends "base.html" %}

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        {#<div class="row page-header">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h3>Главная</h3>
            </div>
        </div>#}
        <!-- /.row -->
        <div class="row row-header">
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_objects">0</div>
                                <div>Включено</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('object_by_status', status=3) }}">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_wialons">0</div>
                                <div>В сервисе</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('object_by_status', status=2) }}">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_gbrs">0</div>
                                <div>Остановлено</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('object_by_status', status=1) }}">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-times fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_chops">0</div>
                                <div>Выключено</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('object_by_status', status=0) }}">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shield fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_mobile_groups">0</div>
                                <div>МЭ</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-fw fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="total_persons">0</div>
                                <div>Клиентов</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Посмотреть все</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-bar-chart fa-lg fa-fw" aria-hidden="true" id="fa-top10-objects"></i>&nbsp;Топ объектов</div>
                    <ul class="list-group" id="list-top10-objects">
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true" id="fa-list-troubles"></i>
                        Все тревоги<span class="badge pull-right" id="total_events">0</span></div>
                    <ul class="list-group" id="list-troubles">
                        {% for category in event_types %}
                        <a href="{{ url_for('trouble_by_ev', event_type_id=category.id) }}" class="disabled list-group-item {{ category.color }}">
                            <span class="badge event-type" id="event_type_{{category.id}}">0</span>{{ category.trouble_ru }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                {% if g.user.has_perm('map') %}
                <div class="panel panel-default" id="dashboard_map_wrapper">
                    <div id="dashboard_map"></div>
                </div>
                {% endif %}
            </div>
            {#
            <table class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%" id="dt_messages_sm"></table>
            #}
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body" id="last_message_object_title">
                        {{ last_message.object.status_icon|safe }} {{ last_message.object.panel_code }} {{ last_message.object.title|truncate(40) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="{{ last_message.bg_color }} panel-body" id="last_message_text">
                        <i class="fa fa-envelope fa-fw"></i>&nbsp;{{ last_message.event_text|truncate(40) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body" id="last_message_object_address">
                        <i class="fa fa-home fa-fw"></i>&nbsp;{{ last_message.object.address }}
                    </div>
                </div>
            </div>
            {#
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Last Message HEre
                    </div>
                </div>
            </div>
            #}
        </div>
    </div>
</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}