{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <h3 class="text-center">AN-Security :: Direct</h3>
                    <div style="margin-bottom:15px;">
                        <img id="login_logo" src="{{ url_for('static', filename='img/logo.png') }}" class="logo"/>
                    </div>
                    <form action="" method=post class="form-signin" id="login-form">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ form.l_username(class="sr-only") }}
                            {{ form.username(class="form-control",placeholder="Username",autofocus=true,required=true) }}
                        </div>
                        <div class="form-group">
                            {{ form.l_password(class="sr-only") }}
                            {{ form.password(class="form-control",placeholder="Password", required=true) }}
                        </div>
                        <div class="well form-group" id="login-well">
                            {# form.recaptcha #}
                            <div class="controls">
                                <button type="submit" class="btn btn-default btn-block">Enter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}