{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<style>
      .popover-content {
        min-width: 420px;
      }
#legend{
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:10000;
    width:100px;
    height:100px;
    background-color:#FFFFFF;
}















</style>
<div id="page-wrapper">
    <div class="container-fluid">
        {#
        <div class="row page-header">
            <div class="col-lg-12">
                <h2>Карта</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        #}
        <!-- ./row -->
        <div class="row">
            <div class="col-md-2 map_filter">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified responsive" id="map-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-mg" class="deco-none">
                            <i class="fa fa-shield fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-troubles" class="deco-none">
                            <i class="fa fa-bell fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-objects" class="deco-none">
                            <i class="fa fa-car fa-lg"></i>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content responsive">
                    <div id="tab-mg" class="tab-pane fade in active">
                        <div class="table-responsive">
                            <table class="table table-condensed dt-responsive nowrap" cellspacing="0" width="100%" id="dt_map_mg"></table>
                        </div>
                    </div>
                    <div id="tab-troubles" class="tab-pane fade">
                    </div>
                    <div id="tab-objects" class="tab-pane fade">
                    </div>
                </div>

            </div>
            <div class="col-md-10 global_map">
                <div class="panel panel-default fill">
                    <div id="global_map"></div>
                    <div style="display: none;">
                        <!-- Popup -->
                        <div id="mobile_group_popup"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}