{% block sidebar %}
<!-- Flashed Messages-->
<div class="row">
    <div class="col-lg-12">
        <div id="alert_placeholder"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}

        <div class="alert alert-{{ category }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span>{{ message }}</span>
        </div>

        {% endfor %}

        <script>
                window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
        </script>

        {% endif %}
        {% endwith %}

    </div>
</div>
{% endblock %}