{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-9">
                <h3>
                    {{ object.id }} :: {{ object.title }}
                </h3>
                <h5>
                    <span class="label label-{{ object.status_css }}">{{ object.status_text|safe}}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="реагирование ДС">{{ object.security_post|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="услга Хотлайн">{{ object.hotline|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Директе">{{ object.service_direct|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Фальке">{{ object.service_falck|safe }}</span>
                </h5>
            </div>
            {#
            <div class="col-lg-6">
                <p class="btn-group-main">
                    <a href="#" class="btn btn-default" id="messages_button"><i class="fa fa-envelope"></i>&nbsp;Сообщения</a>
                    <a href="#" class="btn btn-default" id="troubles_button"><i class="fa fa-exclamation-triangle"></i>&nbsp;Проблемы</a>
                    <a href="#" class="btn btn-default" id="edit_button"><i class="fa fa-pencil-square-o"></i>&nbsp;Редактировать</a>
                </p>
            </div>
            #}
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-id-card-o fa-fw"></i>&nbsp;{{ object.monitoring_chop.title }} ({{ object.panel_code }})</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Важность"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.importance.title
                            if object.importance != None else 'Не определено' }}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="service"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.service.title if
                            object.service != None else 'Не определено' }}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="equipment"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.equipment.title
                            if object.equipment != None else 'Не определено' }}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Реагирование"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.reaction.title
                            if
                            object.reaction != None else 'Не определено' }}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Территория"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.territory.title
                            if object.territory != None else 'Не определено'}}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Реагирующий ЧОП"><i class="fa fa-star fa-fw"></i>&nbsp;{{
                            object.reacting_chop.title }}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="category"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.category.title if
                            object.category != None else 'Не определено'}}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="family"><i class="fa fa-star fa-fw"></i>&nbsp;{{ object.family.title if
                            object.family != None else 'Не определено'}}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="Телефон полиции"><i class="fa fa-star fa-fw"></i>&nbsp;{{
                            object.police_phone if object.police_phone != '' else 'Не определено'}}
                        </li>
                        <li class="list-group-item" data-toggle="tooltip" data-placement="right" title="{{ object.comment }}"><i class="fa fa-star fa-fw"></i>&nbsp;{{
                            object.comment|truncate(40) if object.comment }}
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-map-o fa-fw"></i>&nbsp;{{ object.region.title }}</h4>
                    </div>

                    <div id="object_map_wrapper">
                        <div id="object_map"></div>
                    </div>
                    <div class="panel-body">
                        {{ object.address }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">PLACEHOLDER</li>
                        <li class="list-group-item"><i class="fa fa-map-marker fa-fw"></i>&nbsp;{{ object.location }}</li>
                    </ul>
                    <div class="panel-footer">
                        {{ object.location }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_contacts">
                            <h4 class="panel-title">
                                <i class="fa fa-users fa-fw"></i>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_contacts" aria-expanded="true" aria-controls="collapse_contacts">
                                    Контакты
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_contacts" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_contacts">
                            <div class="panel-body panel-person-card">
                                {% for person in object.persons %}
                                <div class="col-sm-6">
                                    <div tabindex="0" role="button" data-content="{{ person.popover }}" class="well well-sm person-popover">
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="img-circle img-avatar" src="{{ url_for('avatar',text = person.url_encoded_fullname,width=64)}}">
                                            </div>
                                            <div class="media-body">
                                                <!--<h4 class="media-heading">{{ person.full_name|safe }}<span class="pull-right text-muted">{{ person.status }}</span></h4>-->
                                                <h4 class="media-heading">{{ person.full_name|safe }}</h4>
                                                <div><i class="fa fa-star fa-fw"></i>&nbsp;{{ person.status }}</div>
                                                {% if person.phone_mobile != '' %}
                                                <div><i class="fa fa-mobile fa-fw"></i>&nbsp;{{ person.phone_mobile }}</div>
                                                {% endif %}
                                                {#
                                                {% if person.keyword != '' %}
                                                <div class="col-sm-6 text-muted"><i class="fa fa-key fa-fw"></i>&nbsp;{{ person.keyword }}</div>
                                                {%endif %}
                                                {% if person.comment != '' %}
                                                <div class="col-sm-6"><i class="fa fa-comment fa-fw"></i>&nbsp;{{ person.comment}}</div>
                                                {% endif %}
                                                {% if person.phone_work != '' %}
                                                <div class="col-sm-6"><i class="fa fa-phone fa-fw"></i>&nbsp;{{ person.phone_work }}</div>
                                                {% endif %}
                                                {% if person.phone_home != '' %}
                                                <div class="col-sm-6"><i class="fa fa-phone fa-fw"></i>&nbsp;{{ person.phone_home }}</div>
                                                {% endif %}
                                                #}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_object_images">
                            <h4 class="panel-title">
                                <i class="fa fa-picture-o fa-fw"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_object_images" aria-expanded="false"
                                   aria-controls="collapse_object_images">
                                    Изображения
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_object_images" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_object_images">
                            <div class="panel-body panel-object-images">
                                <div id="object-images">
                                    {% for photo in object.photos %}
                                    <a class="thumbnail object-thumbnails" href="{{ photo.url }}">
                                        <img class="img-responsive img-object-thumb" src="{{ photo.url }}" alt="{{ photo.title }}">
                                    </a>
                                    {% endfor %}
                                    {% for scheme in object.schemes %}
                                    <a class="thumbnail object-thumbnails" href="{{ scheme.url }}">
                                        <img class="img-responsive img-object-thumb" src="{{ scheme.url }}" alt="{{ scheme.title }}">
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_mobile_groups">
                            <h4 class="panel-title">
                                <i class="fa fa-shield fa-fw"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_mobile_groups" aria-expanded="false"
                                   aria-controls="collapse_mobile_groups">
                                    Мобильные группы
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_mobile_groups" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_mobile_groups">
                            <div class="panel-body">
                                <p>{{ object.mobile_groups }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_partitions">
                            <h4 class="panel-title">
                                <i class="fa fa-list-ol fa-fw"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_partitions" aria-expanded="false"
                                   aria-controls="collapse_partitions">
                                    Разделы
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_partitions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_partitions">
                            <!-- Table -->
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>code</th>
                                    <th>title</th>
                                    <th>state</th>
                                </tr>
                                </thead>
                                {% for partition in object.partitions_ordered %}
                                <tr>
                                    <td>{{ partition.code }}</td>
                                    <td>{{ partition.title }}</td>
                                    <td>{{ partition.state }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_zones">
                            <h4 class="panel-title">
                                <i class="fa fa-list-ol fa-fw"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_zones" aria-expanded="false"
                                   aria-controls="collapse_zones">
                                    Зоны
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_zones" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_zones">
                            <!-- Table -->
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>code</th>
                                    <th>title</th>
                                    <th>state</th>
                                    <th>sensor</th>
                                    <th>is_person</th>
                                </tr>
                                </thead>
                                {% for zone in object.zones_ordered %}
                                <tr>
                                    <td>{{ zone.code }}</td>
                                    <td>{{ zone.title }}</td>
                                    <td>{{ zone.state }}</td>
                                    <td>{{ zone.sensor }}</td>
                                    <td>{{ zone.is_person }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
{% block scripts %}
{% if object.location is defined %}
<script>
    var lon = {{ object.location.x }};
    var lat = {{ object.location.y }};

</script>
<script src="{{ url_for('static', filename='js/object.js') }}"></script>
{% endif %}
{% endblock %}


