{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-12">
                <h3>Поиск по запросу "{{ query }}", результатов: {{ results|length }}</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="table-responsive">
            <table class="table dt-responsive nowrap" cellspacing="0" width="100%" id="dt_objects">
                <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>address</th>
                    <th>comment</th>
                    <th>tags</th>
                    <th>started_at</th>
                    <th>importance</th>
                    <th>family</th>
                    <th>category</th>
                    <th>service</th>
                    <th>equipment</th>
                    <th>reaction</th>
                    <th>region</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                <tr class="{{ object.status_css }}">
                    <th>{{ object.id }}</th>
                    <th><a href="{{ url_for('object_by_id', object_id = object.id) }}" role="button">{{ object.title }}</a></th>
                    <th>{{ object.address }}</th>
                    <th>{{ object.comment|truncate(128, True) if object.comment != None}}</th>
                    <th>
                        <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="реагирование ДС">{{ object.security_post|safe }}</span>
                        <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="услга Хотлайн">{{ object.hotline|safe }}</span>
                        <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Директе">{{ object.service_direct|safe }}</span>
                        <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Фальке">{{ object.service_falck|safe }}</span>
                    </th>
                    <th>{{ object.started_at }}</th>
                    <th>{{ object.importance.title }}</th>
                    <th>{{ object.family.title }}</th>
                    <th>{{ object.category.title }}</th>
                    <th>{{ object.service.title }}</th>
                    <th>{{ object.equipment.title }}</th>
                    <th>{{ object.reaction.title }}</th>
                    <th>{{ object.region.title }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--<p><a href="">{# result.title #}</a></p>-->
        </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/search_results.js') }}"></script>
{% endblock %}

