{% extends "base.html" %}

{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-12">
                <h2>Настройки</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified responsive" id="settings-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-objects" class="deco-none">
                            <i class="fa fa-building-o fa-fw fa-lg"></i>&nbsp;Объекты
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-wialons" class="deco-none">
                            <i class="fa fa-location-arrow fa-fw fa-lg"></i>&nbsp;Wialon
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-gbrs" class="deco-none">
                            <i class="fa fa-taxi fa-fw fa-lg"></i>&nbsp;Экипажи
                        </a>
                    </li>
                     <li>
                        <a data-toggle="tab" href="#tab-chops" class="deco-none">
                            <i class="fa fa-desktop fa-fw fa-lg"></i>&nbsp;Мониторки
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content responsive">
                    <div id="tab-objects" class="tab-pane fade in active">
                        <div class="col-lg-12 dt-calls-content">
                            <table width="100%" class="table table-striped table-hover dt-responsive nowrap" id="dt-objects">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-wialons" class="tab-pane fade">
                        <div class="col-lg-12 dt-calls-content">
                            <table width="100%" class="table table-striped table-hover dt-responsive nowrap" id="dt-wialons">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-gbrs" class="tab-pane fade">
                        <div class="col-lg-12 dt-calls-content">
                            <table width="100%" class="table table-striped table-hover dt-responsive nowrap" id="dt-gbrs">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-chops" class="tab-pane fade">
                        <div class="col-lg-12 dt-calls-content">
                            <table width="100%" class="table table-striped table-hover dt-responsive nowrap" id="dt-chops">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}