{% block sidebar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('index')}}"><i title="Статус" class="fa fa-sitemap fa-fw fa-lg" id="ws-status-icon"></i>
                AN-Security :: {{ g.user.realname }}
            </a>

        </div>
        <!-- /.navbar-header -->


        <button id="menu-toggle" type="button" data-toggle="button" class="btn btn-default navbar-btn {{ session['menu'] }}">
            <i class="fa fa-bars fa-lg"></i>
        </button>

        <ul class="nav navbar-top-links navbar-right navbar-custom">
            {#<li>
                <a href="#" id="messages_button" data-trouble="{{ trouble.id if trouble }}" data-object="{{ object.id if object }}">
                    <i class="fa fa-envelope fa-fw fa-lg"></i>
                </a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw fa-lg"></i>&nbsp;<span class="badge" id="total_troubles"></span>
                </a>
                <ul class="dropdown-menu dropdown-messages" id="troubles_menu">

                </ul>
                <!-- /.dropdown-alerts -->
            </li>#}

            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <i class="fa fa-user-circle fa-fw fa-lg"></i>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user-circle fa-fw"></i> Профиль</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        <!-- .navbar-top-links -->
        {#
        {% if g.user.is_authenticated %}
        <form class="navbar-form navbar-right" action="{{url_for('search')}}" method="post" name="search" id="navbar-search">
            <div class="input-group custom-search-form">
                {{g.search_form.hidden_tag()}}
                {{g.search_form.search(class="form-control",placeholder="Поиск...",autofocus=true,required=true)}}
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        {%endif%}
        #}
    </div>


    <!-- Sidebar wrapper over SB Admin 2 sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse collapse navbar-custom">
                <ul class="nav nav-sidebar in" id="side-menu">
                    <li class="divider"></li>
                    <li>
                        <a href="{{ url_for('index') }}"><i class="fa fa-tachometer fa-fw fa-lg"></i><span class="masked">&nbsp;&nbsp;Главная</span></a>
                    </li>
                    {#<li>
                        <a href="{{ url_for('view_map') }}"><i class="fa fa-map fa-fw fa-lg"></i><span class="masked">&nbsp;&nbsp;Карта</span></a>
                    </li>#}
                    <li>
                        <a href="{{ url_for('calls') }}"><i class="fa fa-phone-square fa-fw fa-lg"></i><span class="masked">&nbsp;&nbsp;Телефония</span></a>
                    </li>
                    {#<li>
                        <a href="{{ url_for('analytics') }}"><i class="fa fa-bar-chart fa-fw fa-lg"></i><span class="masked">&nbsp;&nbsp;Аналитика</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('settings') }}"><i class="fa fa-cogs fa-fw fa-lg"></i><span class="masked">&nbsp;&nbsp;Настройки</span></a>
                    </li>#}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </div>
</nav>
{% endblock %}