{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <h3>Объект {{ object.panel_code }} :: {{ object.title }}</h3>
                <h5>
                    <span class="label label-{{ object.status_css }}">{{ object.status_text|safe}}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="реагирование ДС">{{ object.security_post|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="услга Хотлайн">{{ object.hotline|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Директе">{{ object.service_direct|safe }}</span>
                    <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="на сервисе в Фальке">{{ object.service_falck|safe }}</span>
                </h5>

            </div>
            <div class="col-sm-6">
                <div class="btn-toolbar btn-header" role="toolbar">
                    <button type="button" class="btn btn-info " data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false"
                            aria-controls="collapseInfo"><i class="fa fa-info"></i> Инфо
                    </button>
                    <a class="btn btn-default {{trouble.event_type.color}}" role="button" data-toggle="collapse" href="#collapseTimeline" aria-expanded="false"
                       aria-controls="collapseTimeline">
                        <i class="fa fa-bullhorn"></i> {{ trouble.event_type.trouble_ru}}
                    </a>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="collapse" id="collapseInfo">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="text-center">Важность</th>
                            <th class="text-center">Услуга</th>
                            <th class="text-center">Оборудование</th>
                            <th class="text-center">Реагирование</th>
                            <th class="text-center">Категория</th>
                            <th class="text-center">Family</th>
                            <th class="text-center">Police</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center">
                            <td class="text-center">{{object.importance.title if object.importance != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.service.title if object.service != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.equipment.title if object.equipment != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.reacting_chop.title}} {{ object.reaction.title if object.reaction != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.category.title if object.category != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.family.title if object.family != None else 'Не определено'}}</td>
                            <td class="text-center">{{object.police_phone if object.police_phone != '' else 'Не определено'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="collapse" id="collapseTimeline">
                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal timeline-troubles">
                            {% for message in trouble.messages|sort(attribute='id') %}
                            <li class="timeline-item">
                                <div class="timeline-badge {{ message.event_type.fill_color }}"><i class="fa fa-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><i class="fa fa-clock-o"></i>&nbsp;{{ message.human_date_comma }}</h4>

                                    </div>
                                    <div class="timeline-body" data-toggle="tooltip" data-placement="bottom" title="{{  message.event_type.type_ru }}">
                                        <p>
                                            {{ message.event_text|truncate(60) }}
                                        </p>
                                        <p>
                                            <small class="text-muted">{{ message.user_comment if message.user_comment else message.event_type.type_ru }}</small>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row">
                    <div class="col-xs-12">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified responsive" id="trouble-tabs-left">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-contacts" class="deco-none">
                                    <i class="fa fa-users fa-fw"></i> Контакты
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-mobile-groups" class="deco-none">
                                    <i class="fa fa-shield fa-fw"></i> Мобильные группы
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-partitions" class="deco-none">
                                    <i class="fa fa-list-ol fa-fw"></i> Разделы и зоны
                                </a>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content responsive">
                            <div id="tab-contacts" class="tab-pane fade in active">
                                <div class="tab-wrapper">
                                    {% for person in object.persons %}
                                    <div class="col-sm-6">
                                        <div tabindex="0" role="button" data-content="{{ person.popover }}" class="well well-sm person-popover">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="img-rounded img-avatar" src="{{ url_for('avatar',text = person.url_encoded_fullname,width=64)}}">
                                                </div>
                                                <div class="media-body">
                                                    <!--<h4 class="media-heading">{{ person.full_name|safe }}<span class="pull-right text-muted">{{ person.status }}</span></h4>-->
                                                    <h4 class="media-heading">{{ person.full_name|safe }}</h4>
                                                    <div><i class="fa fa-star fa-fw"></i>&nbsp;{{ person.status }}</div>
                                                    {% if person.phone_mobile != '' %}
                                                    <div><i class="fa fa-mobile fa-fw"></i>&nbsp;{{ person.phone_mobile }}</div>
                                                    {% endif %}
                                                    {#
                                                    {% if person.keyword != '' %}
                                                    <div class="col-sm-6 text-muted"><i class="fa fa-key fa-fw"></i>&nbsp;{{ person.keyword }}</div>
                                                    {%endif %}
                                                    {% if person.comment != '' %}
                                                    <div class="col-sm-6"><i class="fa fa-comment fa-fw"></i>&nbsp;{{ person.comment}}</div>
                                                    {% endif %}
                                                    {% if person.phone_work != '' %}
                                                    <div class="col-sm-6"><i class="fa fa-phone fa-fw"></i>&nbsp;{{ person.phone_work }}</div>
                                                    {% endif %}
                                                    {% if person.phone_home != '' %}
                                                    <div class="col-sm-6"><i class="fa fa-phone fa-fw"></i>&nbsp;{{ person.phone_home }}</div>
                                                    {% endif %}
                                                    #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="tab-mobile-groups" class="tab-pane fade">
                                <div class="panel-body">
                                    <p>{{ object.mobile_groups }}</p>
                                </div>
                            </div>
                            <div id="tab-partitions" class="tab-pane fade">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>code</th>
                                            <th>title</th>
                                            <th>state</th>
                                        </tr>
                                        </thead>
                                        {% for partition in object.partitions_ordered %}
                                        <tr>
                                            <td>{{ partition.code }}</td>
                                            <td>{{ partition.title }}</td>
                                            <td>{{ partition.state }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>code</th>
                                            <th>title</th>
                                            <th>state</th>
                                            <th>sensor</th>
                                            <th>is_person</th>
                                        </tr>
                                        </thead>
                                        {% for zone in object.zones_ordered %}
                                        <tr>
                                            <td>{{ zone.code }}</td>
                                            <td>{{ zone.title }}</td>
                                            <td>{{ zone.state }}</td>
                                            <td>{{ zone.sensor }}</td>
                                            <td>{{ zone.is_person }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well" style="margin: 0 15px;">
                            <i class="fa fa-comment"></i> {{ object.comment }}
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var routes = [];

                {% for route in trouble.routes %}
                var t = '{{ route }}';
                routes.push(t);
                {% endfor %}

                var lon = {{ trouble.object.location.x }};
                var lat = {{ trouble.object.location.y }};

                {# if trouble.mobile_groups|length > 0 #}
                    {# trouble.mobile_groups[0].wialon_unit.trouble_messages(trouble.id) #}
                    {# trouble.mobile_groups[0].wialon_unit.trouble_route(trouble.id) #}
                  {#  var route = '{{ trouble.mobile_groups[0].wialon_unit.trouble_route(trouble.id) }}'; #}
                {# endif #}








            </script>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified responsive" id="trouble-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-map" class="deco-none">
                                    <i class="fa fa-map-o fa-fw"></i> Карта
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-images" class="deco-none">
                                    <i class="fa fa-picture-o fa-fw"></i> Изображения
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-video" class="deco-none">
                                    <i class="fa fa-video-camera fa-fw"></i> Видео
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content responsive">
                            <div id="tab-map" class="tab-pane fade in active">
                                <div class="panel-body" id="trouble_map_wrapper">
                                    <div id="trouble_map"></div>
                                </div>
                            </div>
                            <div id="tab-images" class="tab-pane fade">
                                <!--<div class="panel-body panel-object-images">-->
                                <div class="panel-body panel-object-images" id="object-images">
                                    {% for photo in object.photos %}
                                    <a class="thumbnail object-thumbnails" href="{{ photo.url }}" style="margin-bottom:10px;">
                                        <img class="img-responsive img-object-thumb" src="{{ photo.url }}" alt="{{ photo.title }}">
                                    </a>
                                    {% endfor %}
                                    {% for scheme in object.schemes %}
                                    <a class="thumbnail object-thumbnails" href="{{ scheme.url }}" style="margin-bottom:10px;">
                                        <img class="img-responsive img-object-thumb" src="{{ scheme.url }}" alt="{{ scheme.title }}">
                                    </a>
                                    {% endfor %}
                                </div>
                                <!--</div>-->
                            </div>

                            <div id="tab-video" class="tab-pane fade">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well well-sm" style="margin: 0 15px;">
                            <i class="fa fa-home"></i> {{ object.address }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/trouble.js') }}"></script>
{% endblock %}

