{% extends "base.html" %}
{% block body %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col-lg-12">
                <h3>Тревоги</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                {% for trouble in recent_troubles %}
                <a href="{{ url_for('trouble_by_id', trouble_id=trouble.id) }}">{{ trouble.id }}</a>
                {% endfor %}
            </div>
            <div class="col-lg-6">

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

