.map {
    height: 500px;
    width: 100%;
}

.map-sm {
    height: 300px;
    width: 100%;
}

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

.ol-rotate {
    top: 3em;
}

#map-global {
    height: 600px;
    width: 100%;
}

#collapse_link_0 {
    text-decoration: none;
}