html {
    margin-bottom: 52px;
}


/* Timeline */

.timeline,
.timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}

.timeline:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
    content: "";
    display: table;
}

.timeline .timeline-item:after {
    clear: both;
}

.timeline .timeline-item .timeline-badge {
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -25px;
    background-color: #7c7c7c;
    border: 3px solid #ffffff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0px;
}

.timeline .timeline-item .timeline-badge.primary {
    background-color: #1f9eba;
}

.timeline .timeline-item .timeline-badge.info {
    background-color: #5bc0de;
}

.timeline .timeline-item .timeline-badge.success {
    background-color: #59ba1f;
}

.timeline .timeline-item .timeline-badge.warning {
    background-color: #d1bd10;
}

.timeline .timeline-item .timeline-badge.danger {
    background-color: #ba1f1f;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    float: left;
    right: 16px;
    border: 1px solid #c0c0c0;
    background: #ffffff;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline .timeline-item .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 16px solid #c0c0c0;
    border-right: 0 solid #c0c0c0;
    border-bottom: 16px solid transparent;
    content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-item .timeline-panel .timeline-body>p,
.timeline .timeline-item .timeline-panel .timeline-body>ul {
    margin-bottom: 0;
}

.timeline .timeline-item .timeline-panel .timeline-body>p+p {
    margin-top: 5px;
}

.timeline .timeline-item:last-child:nth-child(even) {
    float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
}

.timeline-horizontal:before {
    height: 3px;
    top: auto;
    bottom: 26px;
    left: 56px;
    right: 0;
    width: 96%;
    margin-bottom: 20px;
}

.timeline-horizontal .timeline-item {
    display: table-cell;
    height: 240px;
    width: 20%;
    min-width: 320px;
    float: none !important;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto;
    vertical-align: bottom;
}

.timeline-horizontal .timeline-item .timeline-panel {
    top: auto;
    bottom: 64px;
    display: inline-block;
    float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
}

.timeline-horizontal .timeline-item .timeline-panel:before {
    top: auto;
    bottom: -16px;
    left: 28px !important;
    right: auto;
    border-right: 16px solid transparent !important;
    border-top: 16px solid #c0c0c0 !important;
    border-bottom: 0 solid #c0c0c0 !important;
    border-left: 16px solid transparent !important;
}

.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
    display: none;
}

.timeline-horizontal .timeline-item .timeline-badge {
    top: auto;
    bottom: 0px;
    left: 43px;
}

.timeline-troubles {
    /*overflow: auto;*/
    padding-top: 0;
    margin-bottom: 0;
}

.timeline .timeline-item:last-child:nth-child(even) {
    float: none;
}

#exit-btn-li {
    margin-right: 40px;
}

#exit-button {
    background: #337ab7;
    border-color: #2e6da4;
    color: #ffe;
}

#exit-button:hover {
    background: #286090;
    color: #ffe;
}

.bg_Green,
.bg_Green:hover {
    background: url('../img/Green.png');
    color: black;
}

.bg-green,
.bg-green:hover {
    background-color: green !important;
    opacity: 0.8;
}

.text-green,
.text-green:hover {
    color: green !important;
}

.bg_Red,
.bg_Red:hover {
    background: url('../img/Red.png');
    color: black;
}

.bg-red,
.bg-red:hover {
    background-color: red !important;
    opacity: 0.8;
}

.text-red,
.text-red:hover {
    color: red !important;
}

.bg_NavajoWhite,
.bg_NavajoWhite:hover {
    background: url('../img/NavajoWhite.png');
    color: black;
}

.bg-navajowhite,
.bg-navajowhite:hover {
    background-color: navajowhite !important;
    opacity: 0.8;
}

.text-navajowhite,
.text-navajowhite:hover {
    color: navajowhite !important;
}

.bg_Magenta,
.bg_Magenta:hover {
    background: url('../img/Magenta.png');
    color: black;
}

.bg-magenta,
.bg-magenta:hover {
    background-color: magenta !important;
    opacity: 0.8;
}

.text-magenta,
.text-magenta:hover {
    color: magenta !important;
}

.bg_Yellow,
.bg_Yellow:hover {
    background: url('../img/Yellow.png');
    color: black;
}

.bg-yellow,
.bg-yellow:hover {
    background-color: yellow !important;
    opacity: 0.8;
}

.text-yellow,
.text-yellow:hover {
    color: yellow !important;
}

.bg_CornflowerBlue,
.bg_CornflowerBlue:hover {
    background: url('../img/CornflowerBlue.png');
    color: black;
}

.bg-cornflowerblue,
.bg-cornflowerblue:hover {
    background-color: cornflowerblue !important;
    opacity: 0.8;
}

.text-cornflowerblue,
.text-cornflowerblue:hover {
    color: cornflowerblue !important;
}

.bg_Coral,
.bg_Coral:hover {
    background: url('../img/Coral.png');
    color: black;
}

.bg-coral,
.bg-coral:hover {
    background-color: coral !important;
    opacity: 0.8;
}

.text-coral,
.text-coral:hover {
    color: coral !important;
}

.bg_Aqua,
.bg_Aqua:hover {
    background: url('../img/Aqua.png');
    color: black;
}

.bg-aqua,
.bg-aqua:hover {
    background-color: aqua !important;
    opacity: 0.8;
}

.text-aqua,
.text-aqua:hover {
    color: aqua !important;
}

.client_emblem {
    width: 100%;
}

.client_thumb_wrap {
    position: relative;
}

.client_thumb_emblem {
    opacity: 0.1;
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 200px;*/
}

.client_thumb_content {
    position: absolute;
}

.client_thumb_well {
    position: absolute;
    bottom: 0;
    width: 88%;
}

.client_thumb_panel {
    position: absolute;
    width: 88%;
}

.client_thumb_link,
.client_thumb_link:hover {
    display: block;
    color: black;
}

.add_client_input {
    margin-bottom: 10px;
}

.comment {
    margin: 10px 20px 0px 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.logo {
    display: block;
    margin: auto;
}

#search_logo {
    opacity: 0.4;
    width: 100%;
}

.comment_author {
    color: grey;
    float: right;
}

.comment_icon {
    color: grey;
    margin-right: 5px;
}

.comment-well {
    color: black;
    margin-bottom: 0;
    padding: 5px 20px;
}

.comment_well_margin {
    background: url('../img/White10.png');
    color: black;
}

.copy-input {
    font-size: 1.2em;
}

.filter-row {
    margin: 5px 0px;
}

.filter-well {
    margin: 0;
}

#filter-label {
    display: inline !important;
}

#dt-objects tbody tr td {
    vertical-align: middle !important;
}

.g-recaptcha div {
    margin: 10px auto 10px auto;
}

#login-well {
    padding: 0 !important;
}

.dt-calls-content {
    margin-top: 20px;
    width: 100% !important;
}

.lb-sm {
    font-size: 12px;
    padding: 0.3em 0.6em
}

.lb-md {
    font-size: 16px;
    padding: 0.3em 0.6em
}

.lb-lg {
    font-size: 20px;
    padding: 0.3em 0.6em
}

#li-dtp {
    float: right;
    width: 200px;
}


/*#dt-incoming>tbody>tr>td {
    text-align: center;
}

#dt-incoming>thead>tr>th {
    text-align: center;
}

#dt-outgoing>tbody>tr>td {
    text-align: center;
}

#dt-outgoing>thead>tr>th {
    text-align: center;
}

#dt-unanswered>tbody>tr>td {
    text-align: center;
}

#dt-unanswered>thead>tr>th {
    text-align: center;
}*/

.dropdown-profile,
.dropdown-profile:hover {
    padding: 0px 15px !important;
    min-height: 0px !important;
    background-color: inherit !important;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}

#ws-status-icon {
    color: darkgrey;
}

#task-icon {
    vertical-align: sub;
}

#calls-dtp {
    margin-top: 16px;
}

a.accordion-toggle {
    display: block;
    padding: 10px 15px;
}

#collapse-call-tabs>div>div.panel-heading,
#collapse-map-tabs>div>div.panel-heading,
#collapse-settings-tabs>div>div.panel-heading {
    padding: 0;
}

.deco-none {
    text-decoration: none !important;
}

.bar-chart-calls {
    width: 100%;
    height: 240px;
}

.take-all-space {
    width: 100%;
}

.images-list {
    list-style-type: none;
}

#dt_messages {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#dt_messages_wrapper>div>div.panel-footer {
    padding: 5px 5px 0px 0px;
}

#messages-heading {
    padding: 5px 5px 0 10px;
}

.messages-icon-wrapper {
    padding: 5px;
}

div.sidebar {
    margin-top: 0;
}

#navbar-search {
    margin-bottom: 0;
    border-bottom: 0;
}

div.row.page-header {
    margin-top: 0px
}

#wrapper {
    margin-bottom: -52px;
}

div#page-wrapper {
    padding: 0 10px;
}

.img-object-thumb {
    max-height: 192px;
    display: inline;
}

.object-thumbnails {
    max-width: 240px;
    display: inline-block;
}

.img-avatar {
    opacity: 0.6;
    height: 64px;
    /*background: white;*/
}

.navbar-custom a {
    color: black;
}

.panel-object-images,
.panel-person-card {
    padding-bottom: 0;
}

#dt_messages_sm thead .sorting,
#dt_messages_sm thead .sorting:after,
#dt_messages_sm thead .sorting_asc,
#dt_messages_sm thead .sorting_asc:after,
#dt_messages_sm thead .sorting_desc,
#dt_messages_sm thead .sorting_desc:after,
#dt_messages_sm thead .sorting_disabled,
#dt_messages_sm thead .sorting_disabled:after {
    content: "" !important;
    border: 0;
}

.dt-messages thead .sorting,
.dt-messages thead .sorting:after,
.dt-messages thead .sorting_asc,
.dt-messages thead .sorting_asc:after,
.dt-messages thead .sorting_desc,
.dt-messages thead .sorting_desc:after,
.dt-messages thead .sorting_disabled,
.dt-messages thead .sorting_disabled:after,
#dt_map_mg thead .sorting,
#dt_map_mg thead .sorting:after,
#dt_map_mg thead .sorting_asc,
#dt_map_mg thead .sorting_asc:after,
#dt_map_mg thead .sorting_desc,
#dt_map_mg thead .sorting_desc:after,
#dt_map_mg thead .sorting_disabled,
#dt_map_mg thead .sorting_disabled:after {
    border: 0;
}

.job {
    color: #666666;
    font-size: 17px;
}

.mail {
    font-size: 16px;
}

#object_map_wrapper {
    height: 280px;
}

#trouble_map,
#object_map,
#global_map,
#dashboard_map {
    width: 100%;
    height: 100%;
}

.tab-wrapper {
    margin: 15px 0;
}

#trouble_map_wrapper {
    height: 450px;
}

#dashboard_map_wrapper {
    height: 450px;
}

.global_map {
    margin-top: 20px;
}

.btn-group-main {
    margin: 20px 0 10px 0;
}

.modal_messages>.modal-dialog {
    width: 90% !important;
}

.dataTables_length {
    display: inline;
}

.map_filter {
    margin-top: 20px;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}

#dt_map_mg_wrapper {
    margin-top: 10px;
}

#dt_map_mg_paginate {
    padding: 0 5px 0 0;
    text-align: right;
}

#dt_map_mg_filter {
    text-align: left;
    padding-top: 4px;
}

.col-mg {
    padding: 0;
}

#dt_map_mg>tbody>tr>td {
    vertical-align: middle;
    cursor: pointer;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.btn-header {
    margin: 20px 0 10px 0;
}

.row-header {
    margin-top: 20px;
}